$primary-color: #ff7e5f;
$secondary-color: #ff6a45;
$background-color: #f8f8f8;
$white: #fff;
$text-color: #555;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$background-image: url('../../../public/pic1.jpg');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Roboto', sans-serif;

.home-page {
  font-family: $body-font;
  text-align: center;
  padding: 0;
  margin: 0;

  .hero-section {
    background: $background-image no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

    h1 {
      font-family: $heading-font;
      font-size: 4rem;
      margin-bottom: 10px;
    }
    
    .btns{
      display: flex;
      justify-content: space-around;
      .cta-button {
        background-color: $primary-color;
        color: $white;
        padding: 15px 30px;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $secondary-color;
        }
        margin-right: 20px;
      }
    }

    p {
      font-family: $body-font;
      font-size: 1.5rem;
      margin-bottom: 30px;
    }

    
  }

  .features-section {
    padding: 60px 20px;
    background: $background-image no-repeat center center/cover;
    background-attachment: fixed;
    color: $white; // Ensures text is readable on the background image

    h2 {
      font-family: $heading-font;
      font-size: 3rem;
      margin-bottom: 40px;
      color: $primary-color;
      font-weight: 700;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .feature {
        width: 100%;
        max-width: 350px;
        background-color: rgba(255, 255, 255, 0.9); // Slightly transparent white for readability
        padding: 25px;
        border-radius: 12px;
        box-shadow: $box-shadow;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        h3 {
          font-family: $heading-font;
          font-size: 2rem;
          margin-bottom: 15px;
          color: $primary-color;
        }

        p {
          font-family: $body-font;
          font-size: 1.1rem;
          color: $text-color;
        }
      }
    }
  }
}
